.container {
    width: 100%;
    /* height: 100vh; */
    /* background-color: darkcyan; */
    /* color: floralwhite; */
}

.dashboard {
    margin: 3% 10%;
}

.cardList {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;   
}

.card-item {
    padding: 60px;
    margin: 12px;
}

h5 {
    text-decoration: none;
}