.base-container {

    width: 100%;
    height: 100vh;
    // height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px;
    background-color:darkcyan;

    .header {
        font-size: 24px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-seriff;
    }

    .content {
        display: flex;
        flex-direction: column;
        border: 2px solid chartreuse;
        padding: 2%;
        background-color: darkgray;

        .image {
            width: 21rem;

            img {
                width: 100%;
                height: 100%;
            }

        }

        .form {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
        

            .form-group {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: fit-content;

                label {
                    font-size: 20px;
                }

                input {
                    margin-top: 6px;
                    min-width: 18em;
                    height: 37px;
                    padding: 0 10px;
                    font-size: 16px;
                    background-color: #f3f3f3;
                    border: 0;
                    border-radius: 4px;
                    margin-bottom: 31px;
                    transition: all 250ms ease-in-out;
                    &:focus {
                        outline: none;
                        box-shadow: 0 0 12px 0.8px #0e81ce96;
                    }
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }

                p {
                    color: darkred;
                }

            }
            .footer {
                margin-top: 3em;
            }
        }
    }
    
    

}